</main>
<footer>
    <% if (logueado) { %>
        <p><%= name %>, por consultas o comentarios escribinos a <a href="mailto:info@controldeahorro.com">info@controldeahorro.com</a></p>
    <% } %>        
    <p>© Copyright 2021 | Control de ahorro</p>
</footer>
</body>
</html>