<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
    
        <img class="ico" src="/assets/ico.png" alt="">
        <h4>Para poder ver esta sección es necesario que tengas cuenta</h4>
        <a href="/crear-cuenta"><button>CREAR CUENTA</button></a>
        <a href="/ingresar"><button>INGRESAR</button></a>

<%- include('partials/footer.ejs') %>