<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<div class="cards">
        <h4>Editar movimiento</h4>
        <form action="/nuevo-movimiento" method="POST">
            <input type="text" name="description" id="description" placeholder="Descripción" required/>
            <input type="number" name="number" id="number" placeholder="Importe" required/>
            <input type="submit" value="GUARDAR">
            <% if (error) { %>
                <p style="color: gray;"><%= error %></p>
            <% } %>
        </form>
</div>

<%- include('partials/footer.ejs') %>