<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
    
        <img src="/assets/ico.png" alt="">
        <h2>Hubo un error, por favor, intentalo de nuevo</h2>
        <p style="color: gray;"><%= error %></p>
        <p>VOLVER</p>           

<%- include('partials/footer.ejs') %>