<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
    
        <img src="/assets/ico.png" alt="">
        <h2>Bienvenidos a Control de ahorro</h2>
        <p>Llev치 el control de tus ahorros actualizado y lleg치 m치s r치pido a tu objetivo.</p>
        <% if (!logueado) { %>
        <a href="/crear-cuenta"><button>CREAR CUENTA</button></a>
        <a href="/ingresar"><button>INGRESAR</button></a>
        <% } %>        

<%- include('partials/footer.ejs') %>