<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap" rel="stylesheet">
    <title>Mi plan de ahorro - Balance</title>
    <link rel="stykesheet" href="styles.css">
</head>
<body>
    <header>
        <div>
            <img src="/assets/logo.png" alt="">
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/balance">Balance</a>
            <a href="/nuevo-movimiento">Nuevo movimiento</a>
        </nav>
    </header>
    <main>
        <h3>En contrucción</h3>
    </main>
    <footer>
        <p>
            © Copyright 2021 | CONTROL DE AHORRO.
        </p>
    </footer>    
</body>
</html>