html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: white;
  width: 100%;
  height: 80px;
  padding: 0px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  align-items: center;
}

footer {
  background-color: #ffb83c;
  width: 100%;
  height: 100px;
  padding: 0px 100px;
  color: white;
  text-align: center;
}

footer a {
  color: #FCFCFC;
  text-decoration: none;
}

.recordar {
  font-size: small;
  background-color: #ffc439;
  border-radius: 50px;
  margin: 10px 80px
}

header a {
  color: #727271;
  text-decoration: none;
  padding: 0px 10px;
}

.movimientos {
  display: flex;
}

.cards {
  padding: 0px 20px;
  text-align: center;
}

form input[type="text"], [type="number"], [type="email"], [type="password"], [type="date"]  {
  border: none;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  outline: none;
  color: gray
}

button {
  background-color: #ffc439;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
}

main
h3, h4,
p {
  margin: 15px;
}

main img {
  margin: 6px
}

.ico {
  width: 50px;
}

.movimiento {
  display: flex;
  height: 50px;
}

.movimiento th {
  display: flex;
  align-items: center;
  padding: 0px 15px;
}

.movimiento th:first-child {
  width: 120px;
  background-color: white;
  text-align: center;
}

.movimiento th:nth-child(2n) {
  width: 300px;
  background-color: white;
  justify-content: left;
  text-align: left;
}

.movimiento th:nth-child(3n) {
  width: 120px;
  background-color: white;
 justify-content: right;
}

.movimiento th:nth-child(4n) {
  width: 120px;
  background-color: white;
 justify-content: center;
}

#tabla {
  overflow-y: scroll;
  max-height: 200px;
  margin:  0px 20px
}

#tabla::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

#tabla::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ffc439;
}

form input[type="submit"] {
  background-color: #ffc439;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
}

a.active {
  color: #ffb83c
}

.logSign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logSign form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logSign form input {
  width: 400px;
}

.logSign input[type="submit"] {
  background-color: #ffc439;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  width: 150px;
}